{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            <script>{% sorted(phones_name.values() %} Сортровка по названию</script>
            <script>{% sorted(phones_price.values(), key=itemgetter(0)) %} Сортировка по возрастанию</script>
            <script>{% sorted(phones_price.values(), key=itemgetter(0), reverse=True) %} Сортировка по убыванию</script>
        </div>

        <div class="content">
            <table>
            {% for id  in phones_id %}
                <tr>{{ id }}</tr>
                {% for name in phones_name %}
                <tr>{{ name }}</tr>
                {% for price in phones_price %}
                <tr>price</tr>
                {% for picture in phones_image %}
                <tr>picture</tr>
                {% endfor %}
            {% endfor %}
            </table>

        </div>
    </div>
{% endblock %}