{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            {# Здесь должен быть раздел с сортировкой #}
        </div>

        <div class="content">
            <table>
            {# for phone in phones_info #}
                <tr>
                    <td>phone.id</td>
                    <td>phone.name</td>
                    <td>phone.image</td>
                    <td>phone.price</td>
                    <td>phone.release</td>
                    <td>phone.lte</td>
                </tr>
            </table>

        </div>
    </div>
{% endblock %}