{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>
        <div class="sort-block">
            <h5><a> Сортировка по:  </a>  <a href="?by_name/">названию </a><a href="by_cost_asc"> начиная с дешевых </a><a href="by_cost_desc"> начиная с дорогих </a></h5>
        </div>
        <div class="content">
            {% for id  in phones_objects %}
            <h1><a href="{{id.slug}}">{{ id.name }}</a></h1>
            <h3>Стоимость: {{ id.price }}</h3>
            <a href="{{ id.image }}" target="_blank"><img src="{{ id.image }}"></a>
            {% endfor %}
        </div>
    </div>
{% endblock %}