{% extends "base.html" %}
{% load static %}

{% block title %}Телефон{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
        {% for product1 in phones_objects %}
            <h1><a href="?slug={{ product1.slug }}">Телефон {{ product1.name }}</a></h1>
        {{ endfor }}
        </div>
        <div class="content">
            {% for product in phones_objects %}
                {{ product.name }}
                {{ product.price }}
                <a href="{{ product.image }}" target="_blank"><img src="{{ product.image }}"></a>
                {{ product.lte_exists }}
                {{ product.release_date }}
            {{ endfor }}
        </div>
    </div>
{% endblock %}