{% extends "base.html" %}
{% load static %}

{% block title %}Телефон{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="?slug={{ phone_name }}"> Телефон</a></h1>
        </div>
        <div class="content">
            <a href="{{ phone_image }}" target="_blank"><img src="{{ phone_image }}"></a>
            <h1>{{ phone_name }}</h1>
            <h3>{{ phone_price }}</h3>
            <h3>{{ phone_lte }}</h3>
            <h3>{{ phone_release_date }}</h3>
            {{ endfor }}
        </div>
    </div>
{% endblock %}